body {
    background-color: #212529;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Akshar', sans-serif;

}
h3 {
    font-family: 'Akshar', sans-serif;
    color: white;
}
h5{
    font-family: 'Akshar', sans-serif;

}
.texto {
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 {
        padding-top: 20%; 
        grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

.textoh1 {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: white;
}

.imagenperfil {
    float: inline-end;
}

.card {
    background-color: #5c5b5b;
}

.card-text {
    color: white;
}
.card-title {
    color: white;
}